

  <%= form_with(model: @blog, local: true,  url: choose_new_or_edit) do |form| %>
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h5><%= @blog.errors.count %>件のエラーがあります。</h5>
        
        <ul>
          <% @blog.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="post_content_wrapper">
      <div class="post_content">
        <div>
          <div><%= form.label :title, class:"form_label" %></div>
          <div><%= form.text_field :title, class:"form_text_field" %></div>
        </div>
        <br>
        <div>
          <div><%= form.label :content, class:"form_label" %></div>
          <div><%= form.text_area :content, placeholder: "Today's event" %></div>
        </div>
        <div>
         <br>
          <div><%= form.label :image, class:"form_label" %></div>
          <!-- 確認画面から新規作成画面に戻った時に、 -->
          <!-- アップロードした画像を表示させるための記述 -->
          <div><%= image_tag(@blog.image.url) if @blog.image.url %></div>
          <div><%= form.file_field :image, class:"image_file" %></div>
        </div>
        <%= form.submit "Confirm", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>

  <br>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to "Back", blogs_path %></button>
  </div>