<div class="container">

  <h1>Blog List</h1>
 
  <div class="content">

    <div class="row">
   
      <% @blogs.each do |blog| %>
        <div class="col-md-6">
          <div class="post">
            <div class="profile_blog_title">
              <%= link_to blog.title, blog_path(blog.id) %>
            </div>
            <div class="blog_content">
              <%= blog.content %>
            </div>
            <div class="user_name">
              <%= blog.user.name %>
            </div>
            <div class="date">
              <%= blog.created_at.strftime("%Y-%m-%d %H:%M ") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to 'Create new', new_blog_path %></button>
  </div>

</div>