<div class="container">

  <h1>Blog List</h1>
 
  <div class="content">

    <div class="row">
   
      <% @blogs.each do |blog| %>
        <div class="col-md-6">
        <div class="post">
          <div>
            <%= link_to blog.title, blog_path(blog.id) %> 
          </div>
          <div>
            <%= blog.content %>
          </div>
          <div>
            
            <%= blog.created_at.strftime("%Y-%m-%d %H:%M ") %>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <div class="delete_button">
              <button type="button" class="btn btn-default"><%= link_to 'delete', blog_path(blog.id), method: :delete, 
                data: { confirm: '本当に削除していいですか？'} %></button>
            </div>
            <div class="edit_button">
              <button type="button" class="btn btn-default"><%= link_to "edit", edit_blog_path(blog.id), 
                data: { confirm: '本当に編集していいですか？'} %></button>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to 'Create new', new_blog_path %></button>
  </div>

</div>