<h1>ブログ詳細画面</h1>
  <div>
    <p>title: <%= @blog.title %></p>
    <p>content: <%= @blog.content %></p>
    <p>contributor: <%= @user.name %></p>
    <p><%= image_tag @blog.image.url %></p>
  </div>

<div>
  <% if @blog.user_id == current_user.id %>
    <div class="btn-group" role="group" aria-label="...">
      <div class="delete_button">
        <button type="button" class="btn btn-default"><%= link_to 'delete', blog_path(@blog.id), method: :delete, 
          data: { confirm: '本当に削除していいですか？'} %></button>
      </div>
      <div class="edit_button">
        <button type="button" class="btn btn-default"><%= link_to "edit", edit_blog_path(@blog.id), 
          data: { confirm: '本当に編集していいですか？'} %></button>
      </div>
    </div>
  <% end %>
</div>

<div>
  <% unless @blog.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'Favorite Cancel', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Favorite', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
<br>
  <div role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to "Back", blogs_path %></button>
  </div>